    <form method="post" id="static-form">
        <h1><label for="palindrome">Palindrome Checker</label></h1><br>
        <textarea name="phrase" id="palindrome" cols="115" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
        <div id="error-container" class="hidden">
        </div>
        <div>
            <ul id="attempts">
            </ul>
        </div>
    <footer>
        <div>
            <ul id="student-info">
                <li>Name: Wei Chen</li>
                <li>Student ID: 10432881</li>
                <li>About me:  I am a Master Student in Computer Science</li>
            </ul>
        </div>
    </footer>